.college-input {
    color: black;
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
}

.college-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.cardContainer {
    margin-top: 100px;
}

.card {
    max-width: 600px;
    max-height: 600px;
    border-radius: 15px;
    padding: 10px 30px;
}

.page_card {
    min-width: 60vw;
    max-height: 1500px;
    border-radius: 15px;
    padding: 10px 30px;
}

.divider {
    max-width: 800;
    border-bottom: solid 1px #14a3c7;
}

.section_card {
    min-height: 500px;
    background-color: cyan;
    background: linear-gradient(rgb(6, 199, 199), transparent);
    /*this your primary color*/
}

.font_size {
    font-size: 50px;
}

.tab_card {
    margin-left: 14vw;
}

.section_card_college_div {
    max-width: 50vw;
    min-width: 50vw;
    margin-top: 100px;
    margin-left: 8vw;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.loader__spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.heroAnimation {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.cursor {
    animation: blink 0.5s infinite;
}

.typingEffect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000;
    animation: typing 10s steps(30, end) infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    33% {
        width: 100%;
    }

    66% {
        width: 100%;
        border-right-color: transparent;
    }

    100% {
        width: 0;
        border-right-color: transparent;
    }
}

@keyframes blink-caret {

    0%,
    50% {
        border-color: #000;
    }

    25%,
    75% {
        border-color: transparent;
    }
}